<div id="app">
  <div id="content">
    <div id="header">
      <div id="logo">
        <div class="line">
          <div class="second"></div>
          <div class="second"></div>
          <div class="second"></div>
          <div class="second"></div>
          <div class="second"></div>
        </div>
        <div class="line">
          <div class="second"></div>
          <div class="first"></div>
          <div class="first"></div>
          <div class="first"></div>
          <div class="second"></div>
        </div>
        <div class="line">
          <div class="second"></div>
          <div class="first"></div>
          <div class="second"></div>
          <div class="second"></div>
          <div class="second"></div>
        </div>
        <div class="line">
          <div class="second"></div>
          <div class="first"></div>
          <div class="first"></div>
          <div class="first"></div>
          <div class="second"></div>
        </div>
        <div class="line">
          <div class="second"></div>
          <div class="second"></div>
          <div class="second"></div>
          <div class="first"></div>
          <div class="second"></div>
        </div>
        <div class="line">
          <div class="second"></div>
          <div class="first"></div>
          <div class="first"></div>
          <div class="first"></div>
          <div class="second"></div>
        </div>
        <div class="line">
          <div class="second"></div>
          <div class="second"></div>
          <div class="second"></div>
          <div class="second"></div>
          <div class="second"></div>
        </div>
      </div>
    </div>
    <div id="main_content">
      <div id="intro">
        <p id="hello">hi! I'm Sachin &mdash; full stack developer</p>
        <p id="short_desc">I love to use amazing technologies and of course creating them too.</p>
      </div>
      <div id="achievements">
        <div class="title">
          <p>Major Achievements</p>
        </div>
        <div id="points">
          <ul>
            <li>Rank under top <a href="https://www.interviewbit.com/profile/sachinmour" target="_blank">0.2%</a> on <a href="https://www.interviewbit.com" target="_blank">interviewbit</a>.</li>
            <li><a href="https://www.freecodecamp.com/sachinmour" target="_blank">One</a> of the first 60 people to earn all three certificates on <a href="https://www.freecodecamp.com/about" target="_blank">FreeCodeCamp</a>.</li>
            <li>Created a blogging platform <a href="http://www.leavent.com" target="_blank">Leavent</a>.</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="work_content">
      <div id="work">
        <div id="frontend" class="category">
          <div class="title">
            <p>Front End</p>
          </div>
          <div class="projects">
            <div class="project">
              <a href="http://codepen.io/sachinmour/full/VePZdb" target="_blank"><img src="http://i.imgur.com/YkCS37E.jpg" alt="Simon Game"></a>
              <div class="info">
                <p class="name">Simon Game</p>
                <p class="links">
                  <a href="http://codepen.io/sachinmour/full/VePZdb" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                </p>
              </div>
            </div>
            <div class="project">
              <a href="http://codepen.io/sachinmour/full/YWQEoq" target="_blank"><img src="http://i.imgur.com/EnUk2Ea.jpg" alt="Dungeon Game"></a>
              <div class="info">
                <p class="name">Dungeon Crawler Game</p>
                <p class="links">
                  <a href="http://codepen.io/sachinmour/full/YWQEoq" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a>
                  <a href="https://github.com/sachinmour/Dungeon-Crawler-Game" target="_blank"><i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="backend" class="category">
          <div class="title">
            <p>Back End</p>
          </div>
          <div class="projects">
            <div class="project">
              <a href="https://comparestocks.herokuapp.com/" target="_blank"><img src="http://i.imgur.com/ukIS0xV.jpg" alt="Compare Stocks"></a>
              <div class="info">
                <p class="name">Stock Market</p>
                <p class="links">
                  <a href="https://comparestocks.herokuapp.com/" target="_blank">
                    <i class="fa fa-link" aria-hidden="true"></i></a>
                  <a href="https://github.com/sachinmour/stock-market" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
            <div class="project">
              <a href="https://tradeyourbooks.herokuapp.com/" target="_blank"><img src="http://i.imgur.com/huKHNnG.jpg" alt="Book Trade"></a>
              <div class="info">
                <p class="name">Book Trade</p>
                <p class="links">
                  <a href="https://tradeyourbooks.herokuapp.com/" target="_blank">
                    <i class="fa fa-link" aria-hidden="true"></i></a>
                  <a href="https://github.com/sachinmour/book-trading-app" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="dataviz" class="category">
          <div class="title">
            <p>Data Visualization</p>
          </div>
          <div class="projects">
            <div class="project">
              <a href="http://codepen.io/sachinmour/full/BzmNdV" target="_blank"><img src="http://i.imgur.com/bmGdMby.jpg" alt="Map Globe"></a>
              <div class="info">
                <p class="name">Charting Globe</p>
                <p class="links">
                  <a href="http://codepen.io/sachinmour/full/BzmNdV" target="_blank">
                    <i class="fa fa-link" aria-hidden="true"></i></a>
                  <a href="https://github.com/sachinmour/D3-Map" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
            <div class="project">
              <a href="http://codepen.io/sachinmour/full/PzJpyK" target="_blank"><img src="http://i.imgur.com/D2cuggb.jpg" alt="Heat Map"></a>
              <div class="info">
                <p class="name">Heat Map</p>
                <p class="links">
                  <a href="http://codepen.io/sachinmour/full/PzJpyK" target="_blank">
                    <i class="fa fa-link" aria-hidden="true"></i></a>
                  <a href="https://github.com/sachinmour/Heat-map" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="leavent" class="category">
          <div class="title">
            <a href="http://www.leavent.com">
              <p>leavent.com</p>
            </a>
          </div>
          <div class="projects">
            <div class="project">
              <a href="http://www.leavent.com" target="_blank">
                <img src="http://i.imgur.com/QRyc1RC.jpg" alt="leavent.com">
              </a>
              <div class="info">
                <p class="name">Leavent</p>
                <p class="links">
                  <a href="http://www.leavent.com" target="_blank">
                    <i class="fa fa-link" aria-hidden="true"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="more_projects">
      <div id="more">
        <div id="show_more">
          <p id="text">View more projects</p>
          <a href="https://github.com/sachinmour" target="_blank">
            <p id="github"><i class="fa fa-github" aria-hidden="true"></i></p>
          </a>
          <a href="https://codepen.io/sachinmour/" target="_blank">
            <p id="codepen"><i class="fa fa-codepen" aria-hidden="true"></i></p>
          </a>
        </div>
      </div>
    </div>
    <div id="me">
      <div id="about-me">
        <div class="title">
          <p>me</p>
        </div>
        <div id="bio">
          <div id="picture">
            <img src="http://i.imgur.com/3ZOKn5e.jpg" alt="Sachin Mour">
          </div>
          <div id="about">
            <p>I'm a 21 year old self-taught developer from India. My passion is all about technology and using it in an elegant way to help myself and others.</p>
            <p>In my free time you either find me on Coursera learning new technologies or playing football.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="contact">
      <div id="contact-me">
        <div class="title">
          <p>contact</p>
        </div>
        <div id="starter">
          <p>Getting in touch is easy!</p>
        </div>
        <div id="contact_info">
          <div id="form">
            <%= form_tag({controller: :static_pages, action: :feedback}, method: :post, authenticity_token: true, remote: true) do %>
              <div id="inputs">
                <%= text_field_tag 'name', nil, {placeholder: 'Your name', required: true} %>
                <%= email_field_tag 'email', nil, {placeholder: 'Your email', required: true} %>
              </div>
              <div id="textarea">
                <%= text_area_tag 'content', nil, {placeholder: "Message"} %>
              </div>
              <%= submit_tag("Go", class: "button_ajax") %>
            <% end %>
            <p id="message" style="display: none;">Your message has been sent!</p>
          </div>
          <div id="basic">
            <div id="phone">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <p>+91-9646608344</p>
            </div>
            <div id="email">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <p>rtr.sachinmour@gmail.com</p>
            </div>
            <hr/>
            <div id="social">
              <a href="https://www.facebook.com/sachinmour"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/sachinmour"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="https://github.com/sachinmour">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
              <a href="http://codepen.io/sachinmour/">
                <i class="fa fa-codepen" aria-hidden="true"></i>
              </a>
              <a href="https://www.twitter.com/sachinmour"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div id="main">
        <p>&copy; 2016 sachinmour | All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>