<!DOCTYPE html>
<html>
  <head>
    <title>Sachin Mour</title>
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/favicon' %>
    <script async="true" src="https://use.fontawesome.com/a1e5f35c86.js"></script>
    <%= render 'layouts/fonts' %>
    <%= render 'layouts/loadCSS' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: Rails.env.production? %>
    <%= stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>